body {
    padding: 1em;
    background: #fff;
    color: #777;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0%;
    /* background-color: #afa9a9; */
}

body {
    font-family: 'EB Garamond', serif !important;
}

span {
    color: #007bff;
}


p {
    font-style: italic;
}

.loader {
    width: 30%;
    text-align: center;
}

/*
  Set the color of the icon
*/
svg path,
svg rect {
    fill: #0062cc;
}
.notice{
    background-color: #367ccd;
    padding: 1em;
    width: 80%;
    margin: 0;
    color: #fff;
}

.marquee {
    width: 100%;
    padding-top: 1rem;
    overflow: hidden;
}
.marquee-content p{
    padding: 0.5rem;

}
.marquee-content {
    animation: slide-up 10s linear infinite;
}

.marquee-content p {
    margin: 0;
}

@keyframes slide-up {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}