@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #2f3542;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#sect{
    width: 90%;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
button{
    padding: 30px;
    font-size: 18px;
    color:white;
    background-color: transparent;
    border: none;
    border-radius: 3px;
}
.box{
    height: 100px;
    border: 2px solid rebeccapurple;
    box-shadow: 0 0 0 2px #eccc68;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
  }
  #status{
    margin: 20px;
  }
  #restart{
    padding: 10px 20px;
    margin: 20px;
    background-color: rebeccapurple;
}
.win{
    animation: winAnimation ease-in-out 1s infinite;
}

@keyframes winAnimation {
  0%{background-color: #236eb5;}
  100%{background-color: #4d469c;}
  
}