

body {
   font-family: "Sofia", sans-serif;
}

:root{
    --main-color: #023e8a;
    --black: #000;
    --white: #fff;
    --hover-color: #0096c7;
    --footer-black: #0d1b2a;
    font-size: 14px;
}


header {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 50px;
    padding: 0.5rem 0;
    position: relative;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header div h2 {
    margin-left: 20px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    gap: 0 20px;
    background-color: var(--white);
}

.bx-menu-alt-right {
    display: none;
}
.cancel-icon {
    display: none;
}

header ul li {
    margin: 0 20px;
   
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}
header ul li a{
    text-decoration: none;
    padding: 0.5rem 0.3rem;
    font-weight: bold;
    color: var(--black);
    font-size: 1.1rem;
}
header ul li a:hover {
    background-color: var(--hover-color);
    border-radius: 50%;
    color: var(--white);
    cursor: pointer;
   
}

@media (max-width: 900px) {
    header {
        flex-wrap: wrap;
    }

    header div {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    header div h2 {
        margin: 0;
    }

    header ul {
        display: none;
        flex-basis: 100%;
    }

    header ul.show {
        display: flex;
        margin-top: 2rem;
        flex-direction: column;
        z-index: 99999999999;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
    .menu-icon {
    display: block;
    }
    header ul li {
        margin: 20px 0;
        text-align: center;
    }

    .bx-menu-alt-right {
        display: block;
        position: absolute;
        right: 20px;
        font-size: 2rem;
    }
      .bx-x {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
  }
    header div h2 {
    position: absolute;
    left: 20px;
}
}