

@import url('https://fonts.googleapis.com/css?family=Sofia');
*{
    margin: 0;
    padding: 0;
}


body {
  
}

:root {
    --main-color: #023e8a;
    --black: #000;
    --white: #fff;
    --hover-color: #0096c7;
    --footer-black: #0d1b2a;
    /* font-size: 14px; */
     --font-family-small :14px;
     --normal-font-family : Verdana, Geneva, Tahoma, sans-serif;
     --special-font-family :"Sofia", sans-serif;;
}


/* section 1 */

.main-container{
    margin-top: 5rem;
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    position: relative;
    /* background-color: #f1f1f1; */
}

.main-container .img-container{
    /* width: 50%; */
    height: 550px;
   
}

.main-container .img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-container .text-con{
    width: 40%;
    padding: 1rem;
}

.main-container .text-con p:first-child{
    margin: 0.3rem 0;
    font-size: 1.1rem;
    color: var(--hover-color);
}

.main-container .text-con h1{
    font-weight: bolder;
    font-size: 2rem;
    margin: 0.2rem 0;
}

.main-container .text-con p{
    font-size: 1.1rem;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.dancing-img {
    position: absolute;
    bottom: 0%;
    left: 10%;
    width: 50px;
    height: 50px;
    animation: floatUpDown .9s infinite;
}

.second-dancing-img , .third-dancing-img{
    display: none;
}
.dancing-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}



/* section 2 */

.sec-con{
    margin-top: 1rem;
    justify-content: space-between;
    background-color: var(--white);
    /* width: 90%; */
    align-items: center;
    padding: 0 1rem;
    /* border: 2px solid red; */
    display: flex;
    
}
.sec-con .img-container{
    /* width: 40%; */
}
.sec-con .img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.sec-con .text-con{
    width: 50%;
}
.text-con ul{
    column-count: 2;
    margin: 10px 0;
    padding: 0;
    list-style: none;
    column-gap: 20px;
}
.text-con ul li{
    padding: 0.5rem;
    /* white-space: nowrap; */
    margin: 2px 0;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.text-con ul span{
    background-color: var(--main-color);
    color: var(--white);
    padding: 0.3rem 1rem;
    border-radius: 50%;
}

.text-con ul li:hover span{
    background-color: var(--hover-color);
    cursor: pointer;
}


/* third container */
.third-container{
    margin-top: 2rem;
    padding: 1rem;
}

.third-container ol {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 90%;
    margin: auto;
    /* margin-top: 1rem; */
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    counter-reset: li 0;
}

.third-container li {
    display: block;
    align-items: center;
    margin: 10px 0;
}
    .third-container li span{
    font-size: 1.5rem;
    font-weight: bolder;
    
/* font-family: "Sofia", sans-serif; */
    }
    .texts{
        text-align: center;
    }
    .texts h1{
        font-size: 2rem;
        margin-top: 1rem;
        
    }
    
.third-container li::before {
    content: counter(li);
    counter-increment: li;
    margin-right: 20px;
    padding: 3px 15px;
    font-size: 1.7rem;
    border-radius: 50%;
    text-align: center;
    background-color: white;
}

.third-container ol li:first-child::before {
    background-color: #0096c7;
    color: var(--white);
    box-shadow: 0 0 0 3px white, 0 0 0 6px #0096c7;
}
.third-container ol li:nth-child(2)::before {
    background-color: red;
    color: var(--white);
    box-shadow: 0 0 0 3px white, 0 0 0 4px red;
}
.third-container ol li:nth-child(3)::before {
    background-color: rgb(179, 150, 23);
    color: var(--white);
    box-shadow: 0 0 0 3px white, 0 0 0 4px rgb(179, 150, 23);
}

.third-container ol li:nth-child(4)::before {
    background-color: yellowgreen;
    color: var(--white);
    box-shadow: 0 0 0 3px white, 0 0 0 4px yellowgreen;
}
.third-container ol li:nth-child(5)::before {
    background-color: blueviolet;
    color: var(--white);
    box-shadow: 0 0 0 3px white, 0 0 0 4px blueviolet;
}
.third-container ol li:nth-child(6)::before {
    background-color: coral;
    color: var(--white);
    box-shadow: 0 0 0 3px white, 0 0 0 4px coral;
}


/* section 4 */
.four-container{

}

.four-container .grids{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    /* border: 2px solid red; */
    margin: auto;
}

.four-container .cards{
    width: 350px;
    height: 450px;
    /* border: 2px solid red; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.four-container .cards .cards-img{
    width: 100%;
    height: 200px;
}
.four-container .cards .cards-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.four-container .cards .cards-text{
    padding: 1rem;
    /* border: 2px solid; */
}
.four-container .cards hr{
    margin: 10px auto;
    width: 90%;
}

.four-container .cards-text p span{
    color: #0096c7;
    margin-left: 10px;
}
.four-container .cards-text p{
    margin: 5px 0;
}

.four-container .cards-text button{
    padding: 1rem 1.7rem;
    background-color: var(--main-color);
    color: var(--white);
    border: 0;
    border-radius: 10px;
    font-size: 1.1rem;
    margin: 10px 0;
}



/* section 5 */





































/* media query */

@media (max-width:850px) {

    .main-container .text-con{
    /* width: 70%; */
    /* margin: auto; */
    /* padding: 1rem; */
    margin-top: 1rem;
}
.main-container .img-container {
    height: 450px;
}

}

@media only screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
    /* margin-top: 2.8rem; */
  }
  .main-container .img-container {
    height: 400px;
  }
  .main-container .text-con {
    width: 100%;
  }
  .third-container ol {
    grid-template-columns: 1fr;
  }
}


@media (max-width: 750px) {
    .sec-con {
            display: grid;
        }
    
        .sec-con .text-con {
            order: 1;
        }
    
        .sec-con .img-container {
            order: 2;
        }
.sec-con .text-con{
    width: 100%;
    /* margin: auto; */
}
.four-container .cards{
    width: 250px;
    height: max-content;
}

}


@media (max-width:650px) {
    .main-container .text-con {
        width: 90%;
        /* margin: auto; */
        padding: 1rem;
    }

    .main-container .img-container {
        height: 330px;
    }
    .dancing-img {
    position: absolute;
    bottom: 0%;
    left: 80%;
    width: 50px;
    height: 50px;
    animation: floatUpDown 1s infinite;
}

.second-dancing-img{
    display: block;
    position: absolute;
     top: 10%;
    left: 50%;
    width: 50px;
    height: 50px;
    animation: floatUpDown 1s infinite;
    }

    .third-dancing-img{
    display: block;
    position: absolute;
     top: 1%;
    left: 90%;
    width: 50px;
    height: 50px;
    animation: floatUpDown 1s infinite;

    }
 .sec-con .text-con h1, .third-container .texts h1{
    font-size: 1.5rem;
 }
 .sec-con .img-container{
    width: 100%;
 }

.third-dancing-img{

}


}



@media (max-width:550px) {
    .main-container  {
        display: block;
    }

    .main-container .text-con p{
   text-align: center;
}

.main-container .text-con h1{
   text-align: center;
}

    .main-container .img-container {
        height: 300px;
    }
      .third-dancing-img{
        display: none;
      }

.four-container .cards{
    width: 70%;
    /* margin: auto; */
}

}


