* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	min-height: 100vh;
	width: 100%;
	background: #f1f1f1;
	padding: 40px 0;
}
#link {
	font-size: 1.2rem;
	font-weight: bold;
	color: black;
}
#link:hover{
	color: #f10;
}
#title {
	font-size: 16px;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

#image {
	height: 50vh;
	width: 100%;
}

#description {
	width: 80%;
	margin: 0 auto;
	padding: 20px 0;
}

.description {
	font-size: 14px;
	line-height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 0.4px;
	word-spacing: 2px;
	text-align: justify;
}

.description span {
	display: block;
	font-weight: bold;
	font-size: 14px;
	margin-top: 20px;
}

#genres {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
}

.listitems {
	list-style: none;
}
.listitems li {
	background: khaki;
	padding: 10px;
	border-radius: 10px;
}

@media (min-width: 768px) {
	.container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
	}

	#image {
		grid-column: 2/6;
		height: 70vh;
		width: 100%;
		padding-right: 10px;
	}

	.holder {
		border-left: 4px solid gray;
		grid-column: 6/12;
	}
	#description {
		width: 100%;
		padding: 0 20px;
		padding-bottom: 40px;
	}

	.description {
		font-size: 16px;
		line-height: 28px;
	}

	#genres {
		justify-content: flex-start;
		align-items: center;
		gap: 20px;
		padding-left: 20px;
	}
}
